:root{
    --verde-escuro:#1f5f53;
    --verde:#2f7f6f;
    --verde-claro:#5fb7a4;
    --fundo:#f2f4f3;
}

*{
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    margin:0;
    background:var(--fundo);
    color:#20302c;
    line-height:2;
}

.topo{
    background:linear-gradient(90deg,var(--verde-escuro),var(--verde));
    padding:16px 24px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.topo-inner{
    max-width:1200px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:#fff;
}

.logo{
    font-weight:700;
    letter-spacing:1px;
    
}

.menu a{
    margin-left:18px;
    font-size:14px;
    color:#fff;
    text-decoration:none;
}

.menu a:hover{
    text-decoration:underline;
}

.hero{
    
    background-image: url("Img/Fundo.jpeg");
    background-size:cover;
    background-position:center;
    padding:90px 24px;
}

.hero-box{
    max-width:1200px;
    margin:auto;
    color:#fff;
}

.hero h1{
    font-size:42px;
    margin:0 0 16px;
}

.hero p{
    max-width:420px;
}

.btn{
    display:inline-block;
    margin-top:22px;
    background:#f2d06b;
    padding:12px 26px;
    border-radius:24px;
    font-weight:600;
    color:#20302c;
    text-decoration:none;
}

.conteudo{
    max-width:1200px;
    margin:auto;
    padding:40px 24px;
}

.avisos{
    margin-top:24px;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:24px;
}

.aviso{
    height:200px;
    border-radius:28px;
    padding:24px;
    display:flex;
    align-items:flex-end;
    box-shadow:0 12px 30px rgba(0,0,0,.15);
}

.aviso.verde{
    background:linear-gradient(135deg,var(--verde),var(--verde-claro));
    display: flex;
    align-items: center;
    justify-content: center;
}

.aviso.vermelho{
    background:linear-gradient(135deg,#b03a2e,#e74c3c);
    display: flex;
    align-items: center;
    justify-content: center;
}

.aviso-texto{
    color:#fff;
    font-size:18px;
    line-height:1.4;
}

.programacao{
    margin-top:24px;
}

.linha{
    padding:12px 0;
    border-bottom:1px solid rgba(0,0,0,.1);
}

.dia{
    font-weight:700;
    margin-right:8px;
}

.grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:24px;

}


footer{
    text-align:center;
    padding:24px;
    background:#20302c;
    color:#fff;
    margin-top:40px;
}

.conteudoGrid{

    display: flex;
    justify-content: center;
    align-items: flex-start; 
    gap: 30px;
}


.conteudoGrid > div {
    max-width: 500px;
    width: 100%;
}

.video {

    align-items: flex-start;
    background:#fff;
    padding:20px;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    right: 0%;
    
}

.contatos{

    background:#fff;
    padding:20px;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);

    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.instagram {
    display: flex;
    
}

.linhas {

    border-bottom: 1px solid rgba(0,0,0,.1);
}

a {
    text-decoration: none;
}

.sobre:hover{

    transform: scale(1.1);
}

.contatos:hover{

    transform: scale(1.1);
}

.sobre {

    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
    transition: all 0.3s ease-in-out;
}

.controles{

    background-color: black;
    position: relative;
    top: 20px;
    right: -70px;
}


.slider {
margin: 0 auto;
align-items: center;
display: flex;
justify-content: center;
padding: 330px;
width: 1000px;
height: 500px;
overflow: hidden;
background: var(--verde-escuro);
transform: scale(1.00);
border-radius: 10px;
}

.slides {
display: flex;   
gap: 30%;
}

.slides input {
display: none;
}

.slide {
display: flex;
}

.navigation-manual {
position: absolute;
margin-top: 600px;
display: flex;
justify-content: center;

}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked ~ .first {
margin-left: -28%;
}

#radio2:checked ~ .first {
margin-left: -90%;
}

#radio3:checked ~ .first {
margin-left: 34%;
}


.navigation-auto div:not(:last-child) {
margin-right: 43.2px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
background-color: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
background-color: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
background-color: white;
}

@media (max-width: 360px) {


    .logo {
        left: 0;
        font-size: 14px;
        text-align: center;
        width: 100%;
    }

    .menu {
        display: none;
    }

    .hero h1 {
        font-size: 20px;
        height: 5px;
        position: relative;
        bottom: 30px;
    }

    .hero p {
        font-size: 14px;
        position: relative;
        top: 30px;
    }

    .btn {

        position: relative;
        top: 30px;
        left: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: small;
        text-align: center;
        width: 100%;
        
    }

    .avisos {
        grid-template-columns: 1fr;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .conteudoGrid {
        flex-direction: column;
        gap: 20px;
    }

   .slider {
        margin: 0 auto;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 150px;          
        width: 25px;             
        height: 350px;          
        overflow: hidden;
        background: var(--verde-escuro);
        border-radius: 5px;      
        position: relative;
        right: 2px;
                  
    }

    .navigation-manual {

    
        margin-top: 105%;
    }

.video {

    align-items: flex-start;
    background:#fff;
    padding:20px;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    right: 5%;
    
}

.contatos{

    background:#fff;
    padding:2px;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transform: scale(0.9);
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.instagram {
    display: flex;
    
}

.linhas {

    border-bottom: 1px solid rgba(0,0,0,.1);
}

a {
    text-decoration: none;
    font-size: 10px;
    position: relative;
    right: 20px;
}

.ps {

    text-align: center;
}

.sobre:hover{

    transform: scale(0.9);
}

.contatos:hover{

    transform: scale(0.9);
}

.sobre {

    background: #fff;
    padding: 18px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
    transform: scale(0.9);
    transition: all 0.3s ease-in-out;
}

.controles{

    background-color: black;
    position: relative;
    top: 20px;
    right: 0px;
    width: 100%;
}

    
}

@media (min-width: 361px) and (max-width: 480px) {

      .logo {
        left: 0;
        font-size: 14px;
        text-align: center;
        width: 100%;
    }

    .menu {
        display: none;
    }

    .hero h1 {
        font-size: 20px;
        height: 5px;
        position: relative;
        bottom: 30px;
    }

    .hero p {
        font-size: 14px;
        position: relative;
        top: 30px;
    }

    .btn {

        position: relative;
        top: 30px;
        font-size: small;
        text-align: center;
        width: 100%;
        
    }

    .avisos {
        grid-template-columns: 1fr;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .conteudoGrid {
        flex-direction: column;
        gap: 20px;
    }

   .slider {
        margin: 0 auto;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 150px;          
        width: 25px;             
        height: 350px;          
        overflow: hidden;
        background: var(--verde-escuro);
        border-radius: 5px;      
        position: relative;
                  
    }

    .navigation-manual {

    
        margin-top: 105%;
    }

    .video {

        align-items: flex-start;
        background:#fff;
        padding:20px;
        border-radius:20px;
        box-shadow:0 8px 20px rgba(0,0,0,.08);
        right: 5%;
        
    }

    .contatos{

        background:#fff;
        padding:2px;
        border-radius:20px;
        box-shadow:0 8px 20px rgba(0,0,0,.08);
        
        transition: all 0.3s ease-in-out;
        text-decoration: none;
    }

    .instagram {
        display: flex;
        
    }

    .ps {

        display: flex;
        justify-content: center;
        align-items: center;

    }

    .linhas {

        border-bottom: 1px solid rgba(0,0,0,.1);
    }

    a {
        text-decoration: none;
        font-size: 12px;
        position: relative;
        right: 5px;
    }

    .sobre:hover{

        transform: scale(1.0);
    }

    .contatos:hover{

        transform: scale(1.0);
    }

    .sobre {

        background: #fff;
        padding: 18px;
        border-radius: 20px;
        box-shadow: 0 8px 20px rgba(0,0,0,.08);
        transition: all 0.3s ease-in-out;
    }

    .controles{

        background-color: black;
        position: relative;
        top: 20px;
        right: 0px;
        width: 100%;
    }

}

@media (min-width: 481px) and (max-width: 768px) {

      .logo {
        left: 0;
        font-size: 14px;
        text-align: center;
        width: 100%;
    }

    .menu {
        display: none;
    }

    .hero h1 {
        font-size: 20px;
        height: 5px;
        position: relative;
        bottom: 30px;
    }

    .hero p {
        font-size: 14px;
        position: relative;
        top: 30px;
    }

    .btn {

        position: relative;
        top: 30px;
        font-size: small;
        text-align: center;
        width: 100%;
        
    }

    .avisos {
        grid-template-columns: 1fr;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .conteudoGrid {
        flex-direction: column;
        gap: 20px;
    }

   .slider {
        margin: 0 auto;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 150px;          
        width: 25px;             
        height: 350px;          
        overflow: hidden;
        background: var(--verde-escuro);
        border-radius: 5px;      
        position: relative;
                  
    }

    .navigation-manual {

    
        margin-top: 105%;
    }

    .video {

        align-items: flex-start;
        background:#fff;
        padding:20px;
        border-radius:20px;
        box-shadow:0 8px 20px rgba(0,0,0,.08);
        right: 5%;
        
    }

    .contatos{

        background:#fff;
        padding:2px;
        border-radius:20px;
        box-shadow:0 8px 20px rgba(0,0,0,.08);
        
        transition: all 0.3s ease-in-out;
        text-decoration: none;
    }

    .instagram {
        display: flex;
        
    }

    .linhas {

        border-bottom: 1px solid rgba(0,0,0,.1);
    }

    a {
        text-decoration: none;
        font-size: 18px;
        position: relative;
        right: 10px;
    }

    .ps {

        display: flex;
        justify-content: center;
        text-align: center;
    }

    .sobre:hover{

        transform: scale(1.0);
    }

    .contatos:hover{

        transform: scale(1.0);
    }

    .sobre {

        background: #fff;
        padding: 18px;
        border-radius: 20px;
        box-shadow: 0 8px 20px rgba(0,0,0,.08);
        transition: all 0.3s ease-in-out;
    }

    .controles{

        background-color: black;
        position: relative;
        top: 20px;
        right: 0px;
        width: 100%;
    }

}

@media (min-width: 800px) and (max-width: 1200px) {

    .slider {
        margin: 0 auto;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 330px;
        width: 500px;
        height: 500px;
        overflow: hidden;
        background: var(--verde-escuro);
        transform: scale(1.00);
        border-radius: 10px;
    }

    .sobre:hover{

        transform: scale(1.0);
    }

    .contatos:hover{

        transform: scale(1.0);
    }

    .conteudoGrid{

        display: flex;
        justify-content: center;
        align-items: flex-start; 
        gap: 5px;
    }

    .controles {

        position: relative;
        right: -45px;

    }

    


}